.btn {
    padding: 6px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
    margin: 2px;
    cursor: pointer;
    transition: background-color 0.2s, color 0.2s;
}

@mixin btn-outline($main-color) {
    border: 1px solid $main-color;
    background-color: rgba($color: $main-color, $alpha: 0);
    color: $main-color;
    &:hover {
        background-color: rgba($color: $main-color, $alpha: 1.0);
        color: #fff;
    };
    &:focus {
        outline: none;
        box-shadow: 0px 0px 6px $main-color;
    };
}

@mixin btn($main-color) {
    background-color: $main-color;
    color: #fff;
    border: 1px solid $main-color;
    &:hover {
        background-color: darken($color: $main-color, $amount: 15%);
        color: #fff;
    };
    &:focus {
        outline: none;
        box-shadow: 0px 0px 6px $main-color;
    };
}


.btn-primary {
    @include btn($color-primary);
}

.btn-outline-primary {
    @include btn-outline($color-primary);
}

.btn-secondary {
    @include btn($color-secondary);
}

.btn-success {
    @include btn($color-success)
}

.btn-outline-success {
    @include btn-outline($color-success)
}

.btn-warning {
    @include btn($color-warning)
}

.btn-outline-warning {
    @include btn-outline($color-warning)
}

.btn-danger {
    @include btn($color-danger);
}

.btn-outline-danger {
    @include btn-outline($color-danger)
}

.btn-info {
    @include btn($color-info)
}

.btn-outline-info {
    @include btn-outline($color-info)
}
