%container {
    max-width: 100%;
    padding: 10px 50px;
    background-color: $color-bg;
}

//up to 576px
.container {
    @extend %container;
}

.container-fluid {
    @extend %container;
    padding: 5px;
}

.main-container {
    @extend %container;
    padding: 0px;
    height: 750px;
}