%container {
    height: 100%;
    width: 100%;
    padding: 0px;
}

.main-container {
    @extend %container;
    display: flex;
    flex-flow: row nowrap;
}

.index-container {
    @extend %container;
}