%container {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    background-color: $color-bg;
    padding: 0px 10px;
}
//up to 576px
.container {
    @extend %container;
}

.container-fluid {
    @extend %container;
}

.nav-container {
    @extend %container;
}

@media only screen and (min-width: 576px) { //small screen
    .nav-container {
        background-color: $color-primary;
        padding: 0px 50px;
        flex-direction: row;
    }
}

@media only screen and (min-width: 768px) { //med screen

}

@media only screen and (min-width: 922px) { //large 

}