.form-group {
    position: relative;
    width: 100%;
    padding: 0px 5px;
    label {
        @include form-label(#fff)
    }
    input[type=email], input[type=password], input[type=text] {
        @include form-input($color-primary, $color-secondary, #fff);
        border-bottom: 1px solid $color-secondary;
    }
    .invalid-tooltip {
        @include tooltip($color-warning, #fff);
        right: 10px;
        top: 5px;
    }
}

.form-inline {
    display: flex;
    flex-direction: column;
    @media only screen and (min-width: 600px) {
        flex-direction: row;
    }
}

.form-column {
    display: flex;
    flex-direction: column;
}

.checkbox-group {
    color: #fff;
    input[type=checkbox]{
        margin-left: 10px;
    }
}