.form-group {
    position: relative;
    width: 100%;
    label {
        @include form-label(#fff)
    }
    input[type=email], input[type=password] {
        @include form-input($color-primary, $color-secondary, #fff);
        border-bottom: 1px solid $color-secondary;
    }
    .invalid-tooltip {
        @include tooltip($color-warning, #fff);
        right: 0px;
        top: 15px;
    }
}

.checkbox-group {
    color: #fff;
    input{
        margin-left: 10px;
    }
}