#navbar {
    background-color: $color-primary;
    height: 65px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    .coldy-logo {
        color: white;
        font-size: 20px;
        padding: 6px 12px;
        text-decoration: none;
        width: 200px;
        flex: 25%;
        text-align: center;
    }
    .main-search {
        align-self: center;
        flex: 50%;
        display: none;
        @media only screen and (min-width: 600px) {
            display: flex;
        }
        input {
            width: 100%;
            padding: 6px 10px;
            margin: 0 5px;
            font-size: 14px;
            border: 3px solid $color-secondary;
            border-radius: 4px;
            background-color: $color-secondary;
            color: #fff;
        }
        &::placeholder {
            color: $color-bg;
            font-size: 14px;
        }
        &:focus {
            outline: none;
            box-shadow: 0 0 5px 2px $color-secondary;
        };
    }
    .user-box {
        flex: 25%;
        padding: 6px 12px;
        width: 200px;
    }
}