%container {
    max-width: 100%;
    display: flex;
}

.container {
    @extend %container;
    padding: 0px 50px;
}

.container-fluid {
    @extend %container;
    padding: 0px;
}

.nav-container {
    @extend %container;
    background-color: $color-primary;
    padding: 5px 50px;
    display: flex;
}