
//Forms
@mixin form-input ($bg-color, $shadow-color, $text-color) {
    padding: 10px 12px;
    margin-bottom: 20px;
    font-size: 16px;
    border: none;
    color: $text-color;
    background-color: $bg-color;
    width: 100%;
    display: inline-block;
    &:disabled {
        color: darken($color: $text-color, $amount: 30%);
    }
    &:focus {
        outline: none;
        box-shadow: 0 0 5px 2px $shadow-color;
    }
    &::placeholder {
        color: darken($color: $color-bg, $amount: 20%);
    }
}

@mixin form-label($text-color) {
    color: $text-color;
    font-size: 14px;
    margin: 10px 0px;
    display: inline-block;
    cursor: default;
}

@mixin tooltip($bg-color, $txt-color) {
    display: none;
    position: absolute;
    color: $txt-color;
    padding: 6px 12px;
    background-color: $bg-color;
    box-shadow: 0px 0px 10px $bg-color;
    &.active {
        display: inline-block;
    }
}

// Buttons
@mixin btn-outline($main-color) {
    border: 1px solid $main-color;
    background-color: rgba($color: $main-color, $alpha: 0);
    color: $main-color;
    &:hover {
        background-color: rgba($color: $main-color, $alpha: 1.0);
        color: #fff;
    };
    &:focus {
        outline: none;
        box-shadow: 0px 0px 6px $main-color;
    };
}

@mixin btn($main-color) {
    background-color: $main-color;
    color: #fff;
    border: none;
    &:hover {
        background-color: darken($color: $main-color, $amount: 5%);
        color: #fff;
    };
    &:focus {
        outline: none;
        box-shadow: 0px 0px 6px $main-color;
    };
    &:disabled {
        background-color: darken($color: $main-color, $amount: 25%);
        cursor: default;
    }
}