$color-primary: #2969b0;
$color-secondary: #3081dd;
$color-success: #67b930;
$color-danger: #e25041;
$color-warning: #fac51c;
$color-bg: #f1f5f7;
$color-info: #17a2b8;

$main-font-stack: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
sans-serif;

$code-font-stack: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
monospace;

@mixin form-input ($bg-color, $shadow-color, $text-color) {
    padding: 10px 12px;
    margin-bottom: 20px;
    font-size: 16px;
    border: none;
    color: $text-color;
    background-color: $bg-color;
    width: 100%;
    display: inline-block;
    &:focus {
        outline: none;
        box-shadow: 0 0 5px 2px $shadow-color;
    }
    &::placeholder {
        color: darken($color: $color-bg, $amount: 20%);
    }
}

@mixin tooltip($bg-color, $txt-color) {
    display: none;
    position: absolute;
    color: $txt-color;
    padding: 6px 12px;
    background-color: $bg-color;
    box-shadow: 0px 0px 10px $bg-color;
    &.active {
        display: inline-block;
    }
}

@mixin form-label($text-color) {
    color: $text-color;
    font-size: 14px;
    margin: 20px 0px;
    display: inline-block;
    cursor: default;
}