@import 'vars';

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: $main-font-stack;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
code {
    font-family: $code-font-stack;
  }


@import '/partials/container';
@import '/partials/button';
@import '/partials/navbar';