@import './vars.scss';
@import './nav.scss';

body {
    margin: 0;
    font-family: $main-font-stack;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
code {
    font-family: $code-font-stack
  }
