@import './vars.scss';

.nav-container {
    @extend %container;
    background-color: $color-primary;
    padding: 5px 50px;
    display: flex;
}

.coldy-logo {
    display: inline-flex;
}

.main-search {
    display: inline-flex;
}

.user-box {
    display: inline-flex;
}