$color-primary: #2969b0;
$color-secondary: #3081dd;
$color-success: #2ecc71;
$color-danger: #e25041;
$color-warning: #fac51c;
$color-bg: #f1f5f7;
$color-info: #d9edf7;
$text-color-info: #31708f;

$main-font-stack: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
sans-serif;

$code-font-stack: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
monospace;

%container {
    max-width: 100%;
    display: flex;
}

.container {
    @extend %container;
    padding: 0px 50px;
}

.container-fluid {
    @extend %container;
    padding: 0px;
}

%btn {
    border: none;
    color: white;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
    margin: 0px 5px;
}

.btn-primary {
    @extend %btn;
    background-color: $color-primary;
}

.btn-success {
    @extend %btn;
    background-color: $color-success;
}

.btn-warning {
    @extend %btn;
    background-color: $color-warning;
}